/.DS_Store
/Continuous_ancestry_aware_PRS 3.docx
/Getting genetic ancestry right for science and society.pdf
/Plane_notes.pdf
/genetics2289.pdf
/henderson-1975.pdf
/kernel background
/paper
/poster
/presentations
/research visit admin
/research visit funding
/simple_exploration.py
/trees_initial_paper.pdf
/~$ProbGen26_Leandra_Braeuninger_portrait_v2.pptx